<body class="  body-wrap">
    <div class="body-wrapper">
        <div class="login-inner row m-0 ">
            <div class="d-none d-lg-flex col-lg-6 col-xl-7 align-items-center p-5 ">
                <div class="w-100 d-flex justify-content-center">
                    <img src="https://demo.flatworldinfotech.com/Fusion/images/login_bg.jpg" class="img-fluid" alt="Login image" width="700">
                </div>
            </div>
            <div class="d-flex col-12 col-lg-6 col-xl-5 align-items-center loginbg p-sm-5 p-4">
				<div class="w-px-400 mx-auto">
					<!-- Logo -->
					<div class="app-brand mb-5">
						<a  class="app-brand-link gap-2">
							<img src="https://demo.flatworldinfotech.com/Fusion/images/logo2.png" class="img-fluid">
						</a>
					</div>
                    <h4 class="mb-2">Reset Password</h4>
                    <small class="mb-4">Please enter your new password</small>
										<form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)" class="mt-4 mb-3">
											<div class="form-floating mb-3">
												<input type="password" formControlName="password" class="form-control" required id="password" name="password" placeholder="Enter new password" autofocus="">

												<label for="password" class="form-label">New Password</label>

											</div>
											<div class="col-md-5">
												<em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
											</div>
											<div class="form-floating mb-3">
												<input type="password" class="form-control" required id="confirmpassword" name="confirmpassword" placeholder="Re-enter Password" autofocus="">

												<label for="confirmpassword" class="form-label">Confirm Password</label>

											</div>
											<div class="col-md-5">
												<em *ngIf="validateControl('confirmpassword') && hasError('confirmpassword', 'required')">Confirmation is required</em>
												<em *ngIf="hasError('confirmpassword', 'mustMatch')">Passwords must match</em>
											</div>
											<button type="button" class="btn btn-lg btn-primary d-grid w-100 mb-4 btnSubmit" [disabled]="!resetPasswordForm.valid">
												RESET
											</button>
										</form>   
                </div>
			</div>
        </div>
    </div>
</body>
