<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand">
      <img src="../../../../assets/logo2.png" />
    </a>
    <div class="d-flex fw-bold ">
      <i class="bi custom-icon bi-bell fs-4 text-primary"></i>
      <p class="small custom-notification">4</p>
      <i class="bi fs-4 bi-plus-circle custom-icon text-primary ps-2"></i>
      <button type="button" class="ps-1 btn btn-light text-primary fw-bold pe-0 custom-icon">Create</button>
      <i class="bi bi-caret-down-fill icon-caret fs-6 custom-icon text-primary pe-2"></i>
      <button type="button" class="btn btn-light text-primary fw-bold pe-0 custom-icon">User's Name</button>
      <i class="bi bi-caret-down-fill icon-caret fs-6 custom-icon text-primary pe-2"></i>
    </div>
  </div>
</nav>
