.custom-icon {
  cursor: pointer;
  color: #2a4cab !important;
}

.icon-caret {
  position: relative;
  top: 11px;
  font-size: smaller !important;
}

.custom-notification {
  background-color: #2a4cab;
  border-radius: 10px;
  padding: 0 6px;
  color: white;
  position: relative;
  right: 15px;
  font-size: smaller;
}
