.body {
   
    font-family: 'Public Sans', sans-serif !important;
    font-size: 1rem;
}

.body-wrap{
    background-color: #0b29a3;
    font-family: 'Public Sans', sans-serif !important;
    font-size: 1rem;
}
.body-wrapper{
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
    align-items: flex-start;

}
.login-inner{
    width: 100%;
    height: 100vh;   
}
.loginbg{
    background-color: #fff;
}
.w-px-400 {
    width: 340px !important;
}


small {
    font-size: 80% !important;
}

.form-floating {
    position: relative;
    margin: 0 0 1.5rem 0 !important;
    
}

.form-control {
    width: 100%;
    /*box-sizing: content-box;
	padding: 0;*/
    -webkit-transition: box-shadow .3s,border .3s;
    transition: box-shadow .3s,border .3s;
    border: none;
    border-bottom: 1px solid #d9dee3;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
    box-shadow: none;
}
.form-control {
    padding: 0.25rem 0.35rem !important;
    font-size: 16px !important;
}
.form-floating > .form-control{
    height: calc(2.5rem + 2px) !important;
    line-height: 2.25 !important;
}
.form-floating > label {
    padding: 0rem .25rem !important;
}
.btn-primary {
    background-color: #2a4cab !important;
    border: 0px solid #FFF;
    border-style:solid ;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%) !important;
       
}  
.btn {
       
    line-height: 23.7px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    color: #fff !important;
        
}
.btn-primary:hover {
    background-color: #4f5ccd !important;
}
.back-to-login a {
    color: #2a4cab;
    text-decoration: none;
   
}
