<div class="container">
  <h1 class="text-center">Role Permissions</h1>
  <!-- <div class="text-center">
      <select (change)="changeRole()" [(ngModel)]="id">
          <option value="5bda1df0-4aa5-411c-3768-08dae1779037">Admin</option>
          <option value="e98d16b1-434e-4583-3769-08dae1779037">Project Manager</option>
          <option value="07b26c5d-f85a-49c0-376b-08dae1779037">Partner</option>
          <option value="f8e279f1-c611-40c4-376c-08dae1779037">Sales</option>
          <option value="6f4c45c7-83d0-44f1-3773-08dae1779037">hello</option>
      </select>
  </div> -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Permission</th>
        <th class="text-center" scope="col">View</th>
        <th scope="col" class="text-center">Add</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let function of functions;index as i" (change)="updatePermission(i)">
        <th scope="row" class="text-center">{{function.description}}</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[i].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[i].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[i].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[i].delete" /></td>
      </tr>
      <!--<tr (change)="updatePermission(1)">
        <th scope="row" class="text-center">Interview</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[1].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[1].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[1].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[1].delete" /></td>
      </tr>
      <tr (change)="updatePermission(2)">
        <th scope="row" class="text-center">Partners</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[2].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[2].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[2].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[2].delete" /></td>
      </tr>
      <tr (change)="updatePermission(3)">
        <th scope="row" class="text-center">Project Manager</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[3].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[3].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[3].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[3].delete" /></td>
      </tr>
      <tr (change)="updatePermission(4)">
        <th scope="row" class="text-center">Reports</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[4].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[4].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[4].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[4].delete" /></td>
      </tr>
      <tr (change)="updatePermission(5)">
        <th scope="row" class="text-center">Bench</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[5].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[5].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[5].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[5].delete" /></td>
      </tr>
      <tr (change)="updatePermission(6)">
        <th scope="row" class="text-center">Skills/Profile</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[6].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[6].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[6].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[6].delete" /></td>
      </tr>
      <tr (change)="updatePermission(7)">
        <th scope="row" class="text-center">User Administration</th>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[7].view" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[7].add" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[7].edit" /></td>
        <td align="center"><input type="checkbox" [(ngModel)]="permissions[7].delete" /></td>
      </tr>-->
    </tbody>
  </table>
</div>
